

<div class="container">

    <h1>수정 할 페이지 입니다</h1>
    
    
    <form action ="/real_update/<%=@one_post.id%>" method="post">
        <div class="form-group">
          <input value='<%=@one_post.title%>' type="text" class="form-control" name="update_title" >
        </div>
        <div class="form-group">
          <textarea rows ="8" class="form-control" name="update_content"><%=@one_post.content%></textarea>
        </div>
        <button type="submit" class="btn btn-default">수정 하기</button>
     </form>


</div>
